nav {
    background-color: rgb(102, 41, 41);
}

#logo {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    width: 35px;
    height: 35px;
}

.nav-link {
    margin-left: 1.5rem;
    font-size: 15px;
    color: white;
}

.nav-link:hover {
    color: rgb(203, 168, 118);
}

.active {
    color: rgb(203, 168, 118);
}

.navbar-toggler {
    border-color: rgb(247, 245, 214);
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    overflow: visible;
}

.navbar-toggler:active {
    background-color: rgb(90, 16, 16);
    border: 1px solid rgb(247, 245, 214);
}